.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 10%;
    background-color: rgb(0,0,0, 0.3);
    color: whitesmoke;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form{
    width: 80%;
    height: auto;
}

.login h1{
    text-align: center;
    margin-bottom: 20px; 
}

.login .input-field{
    position: relative;
    width: 100%;
    margin: 15px 0; 
}

.input-field input{
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

.input-field .icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(0,0,0, 0.5);
}

.login button{
    width: 100%;
    padding: 12px;
    margin-top: 10px;   
    border: none;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    font-size: medium;
    font-family: Monospace;
}

.login .signup-link{
    text-align: center;
    margin-top: 20px;
}

.login a{
    color:whitesmoke;
    text-decoration: none;
}

.login a:hover{
    text-decoration: underline;
}