.upload-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 95%;
    border-radius: 2%;
    background-color: rgb(0,0,0, 0.3);
    color: whitesmoke;
}

.upload-card {
    background-color: rgb(47, 47, 47);
    padding: 32px;
    width: 70%;
    max-height: 90%;
    border-radius: 12px;
}

.upload-page h2 {
    text-align: center;
    margin-bottom: 24px;
    color: whitesmoke;
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: whitesmoke;
}

.field input[type="file"] {
    width: 100%;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 98%;
}

.field .tag-item {
    background: #f0f2f7;
    padding: 6px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #444
}

.tag-item {
    max-width: 160px;      
    white-space: nowrap;   
    overflow: hidden;      
    text-overflow: ellipsis; 
}
.tag-item input {
    cursor: pointer;
}

.new-tag {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.new-tag input {
    flex: 1;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.new-tag button {
    width: 40px;
    border-radius: 6px;
    border: none;
    background: #4f46e5;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.new-tag button:hover {
    background: #4338ca;
}

.upload-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;   
    border: none;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    font-size: medium;
    font-family: Monospace;
}
