* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monospace;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0,0,0, 0.8);
  
}