.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #111;
  font-family: Monospace;
  color: white;
  z-index: 1000;
}

.header_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.header_logo {
  font-size: x-large;
}

.header_logo a {
  color: white;
  text-decoration: none;
}

.header_nav {
  position: absolute;
  left: 50%;

}

.nav_link {
  color: white;
  text-decoration: none;
  font-size: medium;
}

.nav_link:hover {
  text-decoration: underline;
}

.logout {
  display: flex;
  align-items: center;
}

.logout_button {
  background: none;
  border: none;
  color: white;
  font-size: medium;
  cursor: pointer;
}

.logout_button:hover {
  text-decoration: underline;
}
