.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border-radius: 10%;
    background-color: rgb(0,0,0, 0.3);
    color: whitesmoke;
}

.register h2{
    text-align: center;
}

.register .input-field{
    position: relative;
    font-size: medium;
    width: 100%;
    height: 50%;
    margin: 20px auto;
}

.input-field input{
    width: 100%;
    padding: 10px 30px;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

.input-field .icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(0,0,0, 0.5);
}

.register button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    font-size: medium;
    font-family: Monospace;
}

.register .signup-link{
    text-align: center;
    margin-top: 20px;
}

.register a{
    color:whitesmoke;
    text-decoration: none;
}
