.pdf-table {
  width: 95%;
  margin: 0 auto;
  color: white;
  font-family: Monospace;
}

.pdf-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 0.8fr 0.5fr;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.pdf-row span {
  text-align: center;
}

.pdf-row .name {
  text-align: left;
}

.pdf-header {
  font-weight: bold;
  border-bottom: 2px solid #888;
}

.pdf-row span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_container {
  width: 100%;
  height: 89%;
  margin-top: 60px;  
  background-color: #222;
}

.list_container h1{
  text-align: center;
  padding: 20px;
  color: whitesmoke;
}